{% extends 'dashboard/header.html' %}
{% load static %}
<body>
    {% block mostheader %}
        
    <h1>Edit Profile</h1>
    <h3>User id: {{user.id}}</h3>
    <h3>{{user.fname}} {{user.lname}}</h3>
    <h3>Edit info</h3>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
        <form action="/users/editting/" method="post">
        {% csrf_token %}
        <label>Email: <input type="text" value ="{{user.email}}" name="email"></label>
        <label>First Name: <input type="text" value ="{{user.fname}}" name="fname"></label>
        <label>Last Name: <input type="text" value ="{{user.lname}}" name="lname"></label>
        <input type="hidden" value='{{user.id}}' name ='idt'>
        <input type="submit" value='Save Edits'>
    </form>
    <h3>Edit Password</h3>
    <form action="/users/pwc/" method='post'>
        {% csrf_token %}
        {{form}}
        <input type="hidden" value='{{user.id}}' name ='idt'>
        <input type="submit" value="Change Password">
    </form>
    <form action="/users/description/" method='post'>
        {% csrf_token %}
    <label>Description <textarea name="desc"  cols="30" rows="10"></textarea></label>
    <input type="submit" value="Save">
    </form>
{% endblock %}
</body>
</html>