<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Placeholder registerimng</h1>
    <form action="/regging" method="post">
        {% csrf_token %}
        {{formy}}
        <input type="submit" value="Register">
    </form>
    <a href="/sign_in">If you already have an account sign in here</a>
</body>
</html>